include README.md
include LICENSE
include requirements.txt
recursive-include examples *.csv
recursive-include docs *.md
recursive-include tests *.py *.R *.ps1
recursive-include r_scripts *.R
recursive-include c_tools *.c
recursive-include scripts *.ps1